.checkersBoard {
	border: 3px solid gold;
	overflow: hidden;
	max-width: 620px;
	position: relative;
	float: left;
	width: 100%;
}

.checkersBoard .highlighted {
	box-shadow: 0 0 5px 5px #0f0;
	z-index: 20;
}

.checkersBoard .cell {
	position: relative;
	float: left;
}

.checkersBoard .token {
	border-radius: 50%;
	border: 1px solid #000;
	position: absolute;
	z-index: 10;
	transition: left 0.5s ease-out,
				top 0.5s ease-out,
				z-index 0s ease-out 0.5s;
}

.checkersBoard .token .king {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;

	filter: invert(100%);

	font-size: 7vmin;
}